<!--<!DOCTYPE html>-->
<!--<html>-->
	<!--<head>-->
	<!--<meta charset="UTF-8">-->
    <!--<title>欢迎页面-X-admin2.0</title>-->
    <!--<meta name="renderer" content="webkit">-->
    <!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->
    <!--<meta name="viewport" content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />-->
    <!--<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />-->
    <!--<link rel="stylesheet" href="./css/font.css">-->
    <!--<link rel="stylesheet" href="./css/xadmin.css">-->
    <!--<script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>-->
    <!--<script type="text/javascript" src="./lib/layui/layui.js" charset="utf-8"></script>-->
    <!--<script type="text/javascript" src="./js/xadmin.js"></script>-->
    <!---->
    <!--&lt;!&ndash; 让IE8/9支持媒体查询，从而兼容栅格 &ndash;&gt;-->
    <!--&lt;!&ndash;[if lt IE 9]&ndash;&gt;-->
    <!--<script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>-->
    <!--<script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>-->
    <!--&lt;!&ndash;[endif]&ndash;&gt;-->
	<!--</head>-->
	<!--<body>-->
		<!--<div class="x-body">-->
			<!--<div class="layui-container">-->
				<!--<div class="layui-row">-->
					<!--<div class="layui-col-md6">-->
						<!--<form action="" class="layui-form">-->
							<!--<label for="" class="layui-form-label">会员ID</label>-->
							<!--<div class="layui-input-inline">-->
								<!--<input class="layui-input">-->
							<!--</div>-->
							<!--<button class="layui-btn layui-btn-sm ">查询</button>-->
						<!--</form>-->
					<!--</div>-->

					<!--<div class="layui-col-md1 layui-col-md-offset5">-->
						<!--<button class="layui-btn  layui-col-md-offset5" onclick="x_admin_show('封停名单','2sealOff.html',600,400)">封停名单</button>-->
					<!--</div>-->
				<!--</div>-->
			<!--</div>-->

			<!--<div id="" >-->
				<!--<table border="" cellspacing="" cellpadding="" class="layui-table">-->
					<!--<caption><h2>会员列表</h2></caption>-->
					<!--<thead>-->
						<!--<tr>-->
						<!--<th>序号</th>-->
						<!--<th>会员ID</th>-->
						<!--<th>被举报次数</th>-->
						<!--<th>被举报人数</th>-->
						<!--<th>微信昵称</th>-->
						<!--<th>剩余元宝</th>-->
						<!--<th>举报1</th>-->
						<!--<th>举报2</th>-->
						<!--<th>举报3</th>-->
						<!--<th>举报4</th>-->
						<!--<th>输入举报</th>-->
						<!--<th>IP地址</th>-->
						<!--<th>设备码</th>-->
						<!--<th> </th>-->
						<!--</tr>-->
					<!--</thead>-->
					<!--<tbody>-->
					<!--<tr>-->
						<!--<td>1</td>-->
						<!--<td>30011607</td>-->
						<!--<td>2</td>-->
						<!--<td>3</td>-->
						<!--<td>赵东洋</td>-->
						<!--<td>1582</td>-->
						<!--<td>9999</td>-->
						<!--<td>9999</td>-->
						<!--<td>9999</td>-->
						<!--<td>9999</td>-->
						<!--<td>9999</td>-->
						<!--<td>192.168.122.822</td>-->
						<!--<td>99:dd:ds:ee</td>-->
						<!--<td>-->
							<!--<button class="layui-btn layui-btn-sm" onclick="x_admin_show('查看','./2check.html',1600,600)">查看</button>-->
							<!--<button class="layui-btn layui-btn-sm" onclick="x_admin_show('封停','./2sealOff.html',600,400)">封停</button>-->
						<!--</td>-->
					<!--</tr>-->
					<!--</tbody>-->
				<!--</table>-->
				<!--<div class="page">-->
					<!--<a href="">首页</a><a href="">上一页</a><a href="">1</a><a href="">2</a><a href="">3</a><a href="">下一页</a><a href="">尾页</a>-->
				<!--</div>-->
			<!--</div>-->
		<!--</div>-->
		<!---->
		<!---->
	<!--</body>-->
<!--</html>-->
