<!--<style>-->
    <!--.wid{width: 80%!important;}-->
    <!--.wid2{width:15%!important;}-->
    <!--.wid3{width:32%!important;}-->
<!--</style>-->
<!--<body>-->
<!--<div class="x-body" >-->
    <!--<form action="" class="layui-form" style="width:100%!important;">-->
        <!--<div class="layui-form-item ">-->
            <!--<label for="" class="layui-form-label">姓名</label>-->
            <!--<div class="layui-input-inline wid ">-->
                <!--<input type="text"  id="uname" class="layui-input"  name="uname">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">地址</label>-->
            <!--<div class="layui-input-inline wid2" >-->
                <!--<select name="province" id="province" >-->
                    <!--<option value="">——省——</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="layui-input-inline wid2" >-->
                <!--<select name="city" id="city" >-->
                    <!--<option value="">——市——</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="layui-input-inline wid2" >-->
                <!--<select name="area" id="area" >-->
                    <!--<option value="">——区——</option>-->
                <!--</select>-->
            <!--</div>-->
            <!--<div class="layui-input-inline wid3" >-->
                <!--<input type="text" class="layui-input" id="address" name="address">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">联系方式</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="phone" name="phone">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">代理级别</label>-->
            <!--<div class="layui-input-inline wid2">-->
                <!--<select name="agentLevel" id="agentLevel">-->
                    <!--<option value="">3</option>-->
                    <!--<option value="">2</option>-->
                    <!--<option value="">1</option>-->
                    <!--<option value="">0</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">跟进人</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="valet" name="valet">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">性别</label>-->
            <!--<div class="layui-input-block wid" >-->
                <!--<input type="radio" name="sex" value="男" title="男111" lay-filter="sex">-->
                <!--<input type="radio" name="sex" value="女" title="女" lay-filter="sex">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">年龄</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="age" name="age">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">职业</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="occupation" name="occupation">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">学历</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<select name="educational" id="educational">-->
                    <!--<option value="">小学及以下</option>-->
                    <!--<option value="">初中</option>-->
                    <!--<option value="">高中</option>-->
                    <!--<option value="">本科</option>-->
                    <!--<option value="">硕士</option>-->
                    <!--<option value="">博士</option>-->
                    <!--<option value="">博士以上</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">月收入</label>-->
            <!--<div class="layui-input-inline ">-->
                <!--<select name="educational" id="income">-->
                    <!--<option value="">0-2000</option>-->
                    <!--<option value="">2001-5000</option>-->
                    <!--<option value="">5001-7000</option>-->
                    <!--<option value="">7001-10000</option>-->
                    <!--<option value="">10001-15000</option>-->
                    <!--<option value="">15001-20000</option>-->
                    <!--<option value="">20000以上</option>-->
                <!--</select>-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">兴趣爱好</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="checkbox"  title="美食" name="delicacy">-->
                <!--<input type="checkbox"  title="电影" name="movie">-->
                <!--<input type="checkbox"  title="周边游" name="tour">-->
                <!--<input type="checkbox"  title="KTV" name="KTV">-->
                <!--<input type="checkbox"  title="按摩足疗" name="pedicure">-->
                <!--<input type="checkbox"  title="洗浴汗蒸" name="scouringBath ">-->
                <!--<input type="checkbox"  title="酒吧" name="bar">-->
                <!--<input type="checkbox"  title="运动健身" name="movement">-->
                <!--<input type="checkbox"  title="中医养生" name="nourishingLife">-->
                <!--<input type="checkbox"  title="棋牌娱乐" name="chess">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label"></label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input " placeholder="其他" name="other">-->
            <!--</div>-->
        <!--</div>-->

        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">意愿度评分（1-10分）</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="wish">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">能力项评分（1-10分）</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="ability">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">优劣势介绍</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="advAndDisadva">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item">-->
            <!--<label for="" class="layui-form-label">备注</label>-->
            <!--<div class="layui-input-inline wid">-->
                <!--<input type="text" class="layui-input" id="remarks">-->
            <!--</div>-->
        <!--</div>-->
        <!--<div class="layui-form-item" style="width:100%;">-->
            <!--<div style="position: absolute;left:40%;margin-bottom: 15px;">-->
                <!--<div class="layui-btn" lay-submit="" lay-filter="agentListRevise" id="submitBtn">确认</div>-->
                <!--<button class="layui-btn" type="reset">重置</button>-->
            <!--</div>-->
        <!--</div>-->
    <!--</form>-->
<!--</div>-->
<!--<script>-->
    <!--layui.use('form',function () {-->
        <!--var form = layui.form;-->
        <!--form.on('submit(agentListRevise)',function (data) {-->
            <!--console.log(data.field);-->
            <!--console.log($('#submitBtn').attr('lay-filter'));-->
            <!--//debugger-->
           <!--// alert('1');-->
            <!--$.ajax({-->
                <!--type:'post'-->
                <!--,data:{-->
                    <!--'userID':data.field.address-->
                <!--}-->
                <!--,url:"/test/t206"-->
                <!--,success:function (data) {-->
                    <!--//debugger-->
                    <!--//-->

                <!--}-->
                <!--,error:function (data) {-->
                    <!--console.log("失败");-->
                <!--}-->
            <!--})-->
        <!--})-->
    <!--})-->
<!--</script>-->
<!--</body>-->