<body>
    <div class="x-body">
        <div class="layui-input-inline">
            <input type="text" class="layui-input searchCont" placeholder="会员ID">
        </div>
        <div class="layui-btn" style="margin-left:-4px;" data-type="search" id="search">查询</div>

        <table id="beReported" class="layui-table"  lay-filter="table1"></table>
    </div>
    <!--<script src="lib/layui/layui.js"></script>-->
    <script type="text/html" id="barBeReported">
        <button class="layui-btn layui-btn-xs" lay-event="detail" >查看</button>
        <button class="layui-btn layui-btn-xs" lay-event="sealStop" >封停</button>
    </script>
    <script>
        layui.use('table', function(){
            var table = layui.table;
            //第一个实例
            table.render({
                elem: '#beReported'
                //,height: 500
                ,url: '/test/t202' //数据接口
                ,page: true //开启分页
                ,cols: [[ //表头
                    {field: 'index', title: '序号', sort: true}
                    ,{field: 'ID', title: '会员ID',sort:true}
                    ,{field: 'beReportTime', title: '被举报次数', sort: true}
                    ,{field: 'beReportPN', title: '被举报人数'}
                    ,{field: 'weChat', title: '微信昵称'}
                    ,{field: 'surplus', title: '剩余元宝', sort: true}
                    ,{field: 'report1', title: '外挂嫌疑'}
                    ,{field: 'report2', title: '合伙作弊'}
                    ,{field: 'report3', title: '言语辱骂/地域歧视'}
                    ,{field: 'report4', title: '恶意刷屏'}
                    ,{field: 'reportContent', title: '输入举报'}
                    ,{field: 'IP', title: 'IP地址', sort: true}
                    ,{field: 'equipment', title: '设备码', sort: true}
                    ,{field: 'operation', title: '操作',toolbar:'#barBeReported'}
                 ]]
        });
            table.on('tool(table1)',function (obj) {
                var data = obj.data;
                if(obj.event === 'detail'){
                    var id = data.ID;
                    layer.open({
                        type:1
                        ,title:"跑马灯详情"
                        ,closeBtn:1
                        ,area:['90%','90%']
                        ,id:'LAY_layuipro'
                        // ,btn:['确认','取消']
                        ,btnAlign:'c'
                        ,moveType:1
                        ,content:$('#bereportedCheck')
                        ,success:function (layero,index) {
                            $.ajax({
                                url:'/test/t201/',
                                type:'POST',
                                data:{
                                    'id': id
                                },
                                success:function (data) {
                                    table.render({
                                        elem:'#reportedCheck'
                                        ,url:''
                                        ,page:true
                                        ,cols:[[
                                            {field:'reportedID',title:'举报人ID',sort:true}
                                            ,{field:'beReportedID',title:'被举报人ID',sort:true}
                                            ,{field:'gameID',title:'游戏ID',sort:true}
                                            ,{field:'waiGua',title:'外挂嫌疑'}
                                            ,{field:'heHuo',title:'合伙作弊'}
                                            ,{field:'yanYu',title:'言语辱骂/地域歧视'}
                                            ,{field:'shuaPing',title:'恶意刷屏'}
                                            ,{field:'wenZi',title:'文字举报'}
                                            ,{field:'data',title:'举报时间',sort:true}
                                            ,{field:'phone',title:'手机号'}
                                            ,{field:'QQ',title:'QQ号'}
                                            ,{field:'weChat',title:'微信号'}
                                        ]]
                                    })
                                },
                                error:function (data) {
                                    console.log("失败");
                                }
                            })
                        }
                    });
                }else if(obj.event === 'sealStop'){
                     var id = data.ID;
                    layer.open({
                        type:1
                        ,title:false
                        ,closeBtn:1
                        ,area:['50%','55%']
                        ,id:'LAY_layuipro'
                        // ,btn:['确认','取消']
                        ,btnAlign:'c'
                        ,moveType:1
                        ,content:$('#sealStop1')
                        ,success:function (layero,index) {
                            $.ajax({
                                url:'/test/t209',
                                type:'POST',
                                data:{
                                    'id': id
                                },
                                success:function (data) {
                                   console.log("成功");
                                    table.render({
                                        elem:'#sealOffTable'
                                        ,url:'file/2sealOff/'
                                        ,page:true
                                        ,cols:[[
                                            {field:'data',title:'操作时间'}
                                            ,{field:'ID',title:'操作ID'}
                                            ,{field:'status',title:'操作状态'}
                                        ]]
                                    })
                                },
                                error:function (data) {
                                    console.log("失败");

                                }
                            })
                        }
                    });
                }
            })
            //查询
            var active = {
                search:function () {
                    var memberID = $('.searchCont').val();
                    table.reload('beReported',{
                        url:'/test/t201/'
                        ,page:{
                            curr:1
                        }
                        ,where:{
                            memberID:memberID
                        }
                    })
                }
            };
            $('#search').on('click', function(){
                var type = $(this).data('type');
                active[type] ? active[type].call(this) : '';
            });

//排序
            table.on('sort(table1)', function(obj){
                table.reload('beReported', {
                    url:'/test/t205',
                    initSort: obj
                    ,where: {
                        field: obj.field
                        ,order: obj.type
                    }
                });
            });
        });

    </script>
	</body>
<!--查看弹出层-->
<div class="x-body" id="bereportedCheck" style="display: none">
    <table class="layui-table" id="bereportedTable" ></table>
</div>


<!--封停弹出层-->
<style>
    .x-body .inform{width:30%;background-color: #2D93CA;float:left;margin:7px;padding:5%;box-sizing:border-box;}
</style>
<div class="x-body" id="sealStop1" style="display: none">
    <div class="layui-form-item">
        <div class="inform"><p>会员ID</p><p>123456987</p></div>
        <div class="inform"><p>IP地址</p><p>192.163.12.55</p></div>
        <div class="inform"><p>设备号</p><p>12de45e5de8</p></div>
    </div>
    <div class="layui-form-item">
        <div class="btn">
            <button class="layui-btn layui-btn-sm">解封</button>
            <button class="layui-btn layui-btn-sm layui-btn-danger">封停</button>
        </div>
    </div>
    <table class="layui-table" id="sealOffTable" ></table>
</div>