<!--<body>-->
<!--<div class="x-body">-->
    <!--<div class="layui-form-item">-->
        <!--<div class="layui-input-inline">-->
            <!--<textarea name="" id="" cols="100" rows="5" style="resize: none;" placeholder="输入跟进记录"></textarea>-->
        <!--</div>-->
        <!--<div class="layui-col-xs1 layui-col-xs-offset7" style="margin-top:20px;">-->
            <!--<button class="layui-btn">添加</button>-->
        <!--</div>-->

    <!--<table class="layui-table" id="followUpRecord"></table>-->
<!--</div>-->
<!--</div>-->
<!--<script>-->
    <!--layui.use('table',function () {-->
        <!--var table = layui.table;-->
        <!--table.render({-->
            <!--elem:'#followUpRecordTable'-->
            <!--,url:''-->
            <!--,page:true-->
            <!--,cols:[[-->
                <!--{field:'followUpRecord',title:'跟进记录'}-->
                <!--,{field:'followUpData',title:'跟进时间'}-->
                <!--,{field:'',title:'操作'}-->
            <!--]]-->
        <!--})-->
    <!--})-->
<!--</script>-->
<!--</body>-->