
<body>
<div class="x-body">
    <h2>修改密码</h2>
    <form action="" class="layui-form" style="margin-top:50px;">
        <div class="layui-form-item">
            <label for="" class="layui-form-label" style="width: 20%;">原密码</label>
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" class="layui-input" lay-verify="required" name="oldPwd">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label" style="width: 20%;">新密码</label>
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" class="layui-input" lay-verify="required"  name="newPwd">
            </div>
        </div>
        <div class="layui-form-item">
            <label for="" class="layui-form-label" style="width: 20%;">再次确认</label>
            <div class="layui-input-inline" style="width: 60%;">
                <input type="text" class="layui-input" lay-verify="required"  name="configPwd">
            </div>
        </div>
        <div class="layui-col-xs1 layui-col-xs-offset5" style="margin-top:30px;">
            <button class="layui-btn" lay-filter="modifyPwd">修改</button>
        </div>
    </form>
</div>
<script>
    layui.use(['form', 'layedit', 'laydate'], function() {
        var form = layui.form;
        form.on('submit(modifyPwd)', function (data) {
            // console.log(data);
            // layer.alert(JSON.stringify(data.field), {
            //     title: '最终的提交信息'
            // })
            //return false;
            $.ajax({
                type:"POST"
                ,url:''
                ,data:{
                    'oldPwd':data.field.oldPwd
                    ,'newPwd':data.field.newPwd
                    ,'configPwd':data.field.configPwd
                }
                ,success:function () {
                    console.log("成功");
                }
                ,error:function () {
                    console.log("失败");
                }
            })
        })
    })

</script>
</body>
