<style>
    label{width:98px!important;}
    .rf{float: right;}
    .lf{float: left;}
    .per{
        position: relative;
        left:-30px;
    }
</style>
<body>
<div class="x-body">
    <form action="" class="layui-form">
        <div class="layui-form-item layui-col-xs12 layui-col-md8">
            <label for="" class="layui-form-label">萌新发牌概率：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="probability">
            </div>
            <span class="lf per" style="margin-top: 10px;" >%</span>

            <label for="" class="layui-form-label">萌新赢局数：</label>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" name="number">
            </div>
            <input type="checkbox" lay-skin="switch" name="switch" id="switch">
            <div class="layui-btn" id="revise" lay-submit="" lay-filter="revise">修改</div>
            <!--<div class="layui-btn layui-btn-danger stop" id="changeBtn" lay-submit="" lay-filter="changeBtn">暂停</div>-->

            <!--<label class="layui-form-label">开关</label>-->
            <!--<div class="layui-input-block">-->
                <!--<input type="checkbox" name="switch" lay-skin="switch" >-->
            <!--</div>-->
        </div>
    </form>
    <div class="layui-col-xs12 layui-col-md4">
        <div class="layui-input-inline">
            <input type="text" class="layui-input" placeholder="开始日期" id="startTime">
        </div>
        <div class="layui-input-inline">
            <input type="text" class="layui-input" placeholder="结束日期" id="endTime">
        </div>
        <div class="layui-btn" data-type="search" id="search">查询</div>
    </div>

    <table class="layui-table" id="newSetting" lay-filter="sort">
        <caption><h2>萌新统计</h2></caption>
    </table>
    <table class="layui-table" id="warning" lay-filter="clearBtn">
        <caption><h2>异常警告</h2></caption>
    </table>
    <h2 style="text-align: center">操作记录</h2>
    <div style="background-color: #F2F2F2;padding:10px;">
        <p id="operationRecord">111</p>
    </div>
</div>
<script type="text/html" id="clearStatus">
    <button  class="layui-btn layui-btn-xs" lay-event="revise">清除萌新状态</button>
</script>
<script>
    layui.use(['table','laydate','form','layer'],function () {
        var $ = layui.$;
        var layer = layui.layer;
        //日期
        var laydate = layui.laydate;
        laydate.render({elem:'#startTime'});
        laydate.render({elem:'#endTime'});
        //table渲染
        var table = layui.table;
        table.render({
            elem:'#newSetting'
            ,url:'/test/t205'
            ,page:true
            ,cols:[[
                {field:'date',title:'日期',sort:true}
                ,{field:'newUserNum',title:'新用户人数'}
                ,{field:'totalSiteNum',title:'总场次'}
                ,{field:'fiveWin',title:'满足5局赢用户'}
                ,{field:'gameLostNum',title:'输掉的场次'}
                ,{field:'winYB',title:'赢元宝'}
                ,{field:'LostYB',title:'输元宝'}
            ]]
        });
        table.render({
            elem:'#warning'
            ,url:'/test/t205'
            ,page:true
            ,cols:[[
                {field:'gameID',title:'用户ID'}
                ,{field:'playerID',title:'用户名称'}
                ,{field:'winNum',title:'胜利次数'}
                ,{field:'',title:'操作',toolbar:"#clearStatus"}
            ]]
        });
        //排序
        table.on('sort(sort)',function (obj) {
            table.reload('newSetting',{
                url:'/test/t205'
                ,initSort:obj
                ,where:{
                    field:obj.field
                    ,order:obj.type
                }
            })
        });
        //查询
        var active = {
            search:function () {
                var startTime = $('#startTime').val();
                var endTime = $('#endTime').val();
                table.reload('newSetting',{
                    url:'/test/t204'
                    ,page:{
                        curr:1
                    }
                    ,where:{
                        key:{
                            startTime:startTime
                            ,endTime:endTime
                        }
                    }
                })
            }
        };
        $('#search').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
        //form事件
        var form = layui.form;
        //修改
        var switchBtn;
        form.on('submit(revise)',function (data) {
            $('#switch').next().hasClass("layui-form-onswitch")? switchBtn=1: switchBtn=0;
            $.ajax({
                type:'POST'
                ,data:{
                    'probability':data.field.probability,
                    'number':data.field.number,
                    'switchBtn':switchBtn
                }
                ,url:''
                ,success:function () {
                    layer.msg("修改成功！",{time:1000});
                }
                ,error:function () {
                    layer.msg("修改失败！",{time:1000});
                }
            })
        });
        //清除萌新状态按钮监听
        table.on('tool(clearBtn)',function (obj) {
            var data = obj.data;
            console.log(data);
            if (obj.event==='revise') {
                var gameID = obj.data.gameID;
                var playerID = obj.data.playerID;
                console.log(gameID,playerID);
                $.ajax({
                    url:'/test/t201/',
                    type:"POST",
                    data:{
                        'gameID':gameID,
                        'playerID':playerID
                    }
                    ,success:function (data) {
                        layer.msg('清除成功！',{time:1000});
                    }
                    ,error:function (data) {
                        layer.msg('清除失败！',{time:1000});
                    }
                })
            }
        })
        //暂停
        // form.on('submit(changeBtn)',function (data) {
        //     if ($('#changeBtn').hasClass("stop")){
        //         $('#changeBtn').removeClass('stop');
        //         $('#changeBtn').removeClass('layui-btn-danger');
        //         $('#changeBtn').addClass('start');
        //         $('#changeBtn').html('开启');
        //     }else{
        //         $('#changeBtn').removeClass('start');
        //         $('#changeBtn').addClass('stop');
        //         $('#changeBtn').addClass('layui-btn-danger');
        //         $('#changeBtn').html('暂停');
        //     }
        //
        //     $.ajax({
        //         type:'POST'
        //         ,data:{
        //
        //         }
        //         ,url:''
        //         ,success:function () {
        //
        //         }
        //         ,error:function () {
        //
        //         }
        //     })
        // });
        //从后台获取操作记录并显示
        $.ajax({
            type:"GET"
            ,url:'/test/t206'
            ,data:{}
            ,dataType:'JSON'
            ,success:function (val) {
                console.log(val);
                // var data = JSON.parse(val);
                // console.log(data.number);
                console.log(val.data[0].number);
                $('#operationRecord').html(val.data[0].number);
            }
        })
    })
</script>
</body>