<!--玩家金币日志-->
<body>
<div class="x-body">
    <div action="" class="layui-form">
        <div class="layui-form-item">
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="玩家ID" id="ID">
            </div>
            <div class="layui-input-inline">
                <input type="text" class="layui-input" placeholder="查询日期" id="date">
            </div>
            <button class="layui-btn" data-method="search" id="search" data-type="reload" id="search">查询</button>
        </div>
    </div>
    <table class="layui-table" lay-data="{url:'/test/t206', cellMinWidth: 80, page: true}">
        <thead>
        <tr>
            <th lay-data="{align:'center'}" colspan="7">会员列表</th>
            <th lay-data="{align:'center'}" colspan="2"></th>
        </tr>
        <tr>
            <th lay-data="{field:'province', minWidth:80}">序号</th>
            <th lay-data="{field:'city',minWidth:80}">玩家（ID）</th>
            <th lay-data="{field:'zone', minWidth:80}">订单号</th>
            <th lay-data="{field:'province', minWidth:80}">操作数量</th>
            <th lay-data="{field:'city',minWidth:80}">操作类型</th>
            <th lay-data="{field:'zone', minWidth:80}">操作前金币</th>
            <th lay-data="{field:'province', minWidth:80}">操作类型</th>
            <th lay-data="{field:'city',minWidth:80}">说明</th>
            <th lay-data="{field:'zone', minWidth:80}">时间</th>
        </tr>
        </thead>
    </table>
</div>
<script>
    //日期查询
    layui.use('laydate',function(){
        var laydate = layui.laydate;
        laydate.render({
            elem:'#date'
        });
    });
    layui.use('table',function () {
        var table = layui.table;

        //排序
        table.on('sort(sort)', function(obj){
            table.reload('playerGoldLog', {
                url:'/test/t205',
                initSort: obj
                ,where: {
                    field: obj.field
                    ,order: obj.type
                }
            });
        });
        //查询
        var $ = layui.$, active = {
            reload: function(){
                var userID = $('#ID').val();
                var date = $('#date').val();

                //执行重载
                table.reload('playerGoldLog', {
                    url:'/test/t204'
                    ,page: {
                        curr: 1 //重新从第 1 页开始
                    }
                    ,where: {
                        id: userID,
                        date: date
                    }
                });
            }
        };
        $('#search').on('click', function(){
            var type = $(this).data('type');
            active[type] ? active[type].call(this) : '';
        });
    })
</script>
</body>

