<!--台费设置-->
<style>
    .wd{width:92px!important;}
    .bg{background-color:#EEEEEE;}
    .layui-form-label{width:85px!important;}
    .checkbox{padding:6px 0;}
</style>
<body>
<div class="x-body">
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">炸金花底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">炸金花</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua1" ></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua2" ></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua7"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua8"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua9"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua10"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua11"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="zhajinhua12"></div>
            <button class="layui-btn" lay-submit="" lay-filter="zhajinhua">更新规则</button>
        </div>
    </form>
    <hr>

<!--山西麻将-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">山西底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">山西麻将</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="shanximajinag1" ></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="shanximajinag2"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="shanximajinag3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="shanximajinag4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="shanximajinag5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="shanximajinag6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="shanximajinag7"></div>
            <button class="layui-btn" lay-filter="shanximajiang">更新规则</button>
        </div>
    </form>
    <hr>

    <!--内蒙麻将-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">内蒙底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">内蒙麻将</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="neimengmajing1" ></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="neimengmajing2"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="neimengmajing3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="neimengmajing4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="neimengmajing5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="neimengmajing6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="neimengmajing7"></div>
            <button class="layui-btn" lay-filter="neimengmajiang">更新规则</button>
        </div>
    </form>
    <hr>

    <!--打大A-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">打大A底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">打大A</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="dadaA1"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="dadaA2"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="dadaA3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="dadaA4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="dadaA5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="dadaA6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="dadaA7"></div>
            <button class="layui-btn" lay-filter="dadaA">更新规则</button>
        </div>
    </form>
    <hr>
    <!--牛牛-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">牛牛底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">牛牛</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="niuniu1"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="niuniu2"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="niuniu3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="niuniu4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="niuniu5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="niuniu6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="niuniu7"></div>
            <button class="layui-btn" lay-filter="niuniu">更新规则</button>
        </div>
    </form>
    <hr>

    <!--跑的快-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">跑得快底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">跑得快</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="paodekuai1"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="paodekuai2"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="paodekuai3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="paodekuai4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="paodekuai5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="paodekuai6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="paodekuai7"></div>
            <button class="layui-btn" lay-filter="paodekuai">更新规则</button>
        </div>
    </form>
    <hr>

    <!--推筒子-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">推筒子底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">推筒子</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="tuitongzi1" ></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="tuitongzi2"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="tuitongzi3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="tuitongzi4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="tuitongzi5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="tuitongzi6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="tuitongzi7"></div>
            <button class="layui-btn" lay-filter="submitBtn1">更新规则</button>
        </div>
    </form>
    <hr>

    <!--三公-->
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">三公底注</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input bg" readonly></div>
        </div>
    </form>
    <hr>
    <form class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">三公</label>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong1"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong2"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong3"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong4"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong5"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong6"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong7"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong8"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong9"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong10"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong11"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong12"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong13"></div>
            <div class="layui-input-inline wd"><input type="text" class="layui-input " name="sangong14"></div>
            <button class="layui-btn" lay-filter="sangong">更新规则</button>
        </div>
    </form>
    <hr>

    <!--疯狂下注开关-->
    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">疯狂下注开关</label>
            <div class="checkbox layui-input-inline" >
                <input type="checkbox" name="switch" lay-skin="switch" lay-text="ON|OFF" class="checkbox" lay-filter="wagerSwitch">
            </div>

        </div>
    </form>
    <hr>
<!--元宝转钱利率-->
    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">元宝转钱利率</label>
            <div class="layui-input-inline"><input type="text" class="layui-input" name="YBTransferRate"></div>
            <button class="layui-btn">更新利率</button>
        </div>
    </form>
    <hr>


    <!--充值限额开关-->
    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label class="layui-form-label">充值限额开关</label>
            <div class="checkbox layui-input-inline">
                <input type="checkbox" name="switch" lay-skin="switch" lay-text="ON|OFF" lay-filter="rechargeLimit">
            </div>
        </div>
    </form>
    <hr>
    <!--充值额度设置-->

    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">排行榜可见度</label>
            <div class="layui-input-inline"><input type="text" class="layui-input" name="listVisibility"></div>
            <button class="layui-btn">更新</button>
        </div>
    </form>
    <hr>

    <div class="layui-col-sm4">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label for="" class="layui-form-label">金额上限</label>
                <div class="layui-input-inline"><input type="text" class="layui-input" name="maximumAmount"></div>
                <button class="layui-btn">更新</button>
            </div>
        </form>
    </div>
    <div class="layui-col-sm4">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label for="" class="layui-form-label">场内限额</label>
                <div class="layui-input-inline"><input type="text" class="layui-input" name="fieldLimit"></div>
                <button class="layui-btn">更新</button>
            </div>
        </form>
    </div>
    <div class="layui-col-sm4">
        <form action="" class="layui-form">
            <div class="layui-form-item">
                <label for="" class="layui-form-label">场外限额</label>
                <div class="layui-input-inline"><input type="text" class="layui-input" name="OTCLimit"></div>
                <button class="layui-btn">更新</button>
            </div>
        </form>
    </div>
    <hr>

    <!--支付平台切换-->
    <form action="" class="layui-form">
        <div class="layui-form-item">
            <label for="" class="layui-form-label">选择支付平台</label>
            <div class="layui-input-inline">
                <select name="payPlatform" id="" lay-filter="payPlatform">
                    <option value="0">爱贝支付</option>
                    <option value="1">星毓</option>
                </select>
            </div>

        </div>
    </form>
</div>
<script>
    // //从后端获取数据显示在页面
    // $.ajax({
    //     url:'/test/t201',
    //     type:"POST",
    //     data:{},
    //     dataType:"json",
    //     success:function (data) {
    //         console.log(data);
    //     }
    // });
    layui.use('form',function () {
        var form = layui.form;
        //监听疯狂下注开关
        var wagerSwitch=false;
        form.on('switch(wagerSwitch)',function (data) {
            var wagerSwitch = data.elem.checked;
            $.ajax({
                url:'/test/t201',
                type:"POST",
                data:{'wagerSwitch':wagerSwitch},
                dataType:"json",
                success:function (data) {
                    console.log("成功");
                },
                error:function (data) {
                    console.log("失败");
                }
            });
        });
        //监听充值限额开关
        var rechargeLimit=false;
        form.on('switch(rechargeLimit)',function (data) {
            var wagerSwitch = data.elem.checked;
            $.ajax({
                url:'/test/t201',
                type:"POST",
                data:{'rechargeLimit':rechargeLimit},
                dataType:"json",
                success:function (data) {
                    console.log("成功");
                },
                error:function (data) {
                    console.log("失败");
                }
            });
        });
        //监听支付平台
        form.on('select(payPlatform)',function (data) {
            console.log(data.value);
        })

    })

</script>
</body>
